name: CI

# This workflow runs on:
# 1. Push events to the main branch
# 2. Pull request events
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch: null

env:
  # Exclude these packages from turbo as they are handled by dedicated jobs
  TURBO_FLAGS: '--concurrency=100% --filter "!./integrations/{java,rust,dotnet,docker,fastapi,django-ninja}/**" --filter "!./projects/proxy-scalar-com/**"'
  NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages
jobs:
  npm-publish:
    if: github.ref == 'refs/heads/main'
    # Use a GitHub-hosted runner for npm publish to ensure signed releases
    runs-on: ubuntu-latest
    timeout-minutes: 15
    # Avoid running this job in parallel:
    # `changesets/action` creates/updates the release branch, which shouldn't happen in parallel.
    # npm publish also shouldn't happen in parallel.
    concurrency:
      group: npm-publish
      cancel-in-progress: false
    permissions:
      contents: write
      id-token: write

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Build
        uses: ./.github/actions/build
        with:
          # Build everything
          packages: './**'
      - name: Git Status
        run: git status
      - name: Stash changes
        run: git stash
      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@e0145edc7d9d8679003495b11f87bd8ef63c0cba # v1
        with:
          # The pull request title.
          title: 'chore: release'
          # The command to update version, edit CHANGELOG, read and delete changesets.
          version: 'pnpm changeset version'
          # The commit message to use.
          commit: 'chore: version packages'
          # The command to use to build and publish packages
          publish: 'pnpm -r publish --access public'
        env:
          # https://github.com/settings/tokens/new
          # Expiration: No expiration
          # Select: repo.*
          GITHUB_TOKEN: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
          # https://www.npmjs.com/settings/YOUR_ACCOUNT_HANDLE/tokens/granular-access-tokens/new
          # Custom Expiration: 01-01-2100
          # Permissions: Read and Write
          # Select packages: @scalar
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Bust CDN cache
        if: steps.changesets.outputs.published == 'true'
        uses: fjogeleit/http-request-action@23ad54bcd1178fcff6a0d17538fa09de3a7f0a4d # v1.16.4
        with:
          url: 'https://purge.jsdelivr.net/npm/@scalar/api-reference'
          method: 'GET'
